<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Payment icons bar in checkout</title>
        <component name="sw-snippet-field">
            <name>paymentIconsTitle</name>
            <label>Title for payment icons in checkout</label>
            <snippet>checkout.paymentIconsTitle</snippet>
        </component>
        <component name="sw-entity-single-select">
            <name>paymentIconAlbum</name>
            <entity>media_folder</entity>
            <label>Media folder with payment icons</label>
        </component>
        <input-field type="text">
            <name>paymentIconHeight</name>
            <label>Height for payment icons</label>
            <defaultValue>50px</defaultValue>
        </input-field>
        <input-field type="text">
            <name>paymentIconClass</name>
            <label>CSS Class for payment icons</label>
            <defaultValue>border rounded m-1 p-2</defaultValue>
        </input-field>
        <input-field type="text">
            <name>paymentIconClassContainer</name>
            <label>CSS Class for payment icon container</label>
            <defaultValue>mx-n1 mb-1</defaultValue>
        </input-field>
    </card>
    <card>
        <title>Cross-selling slider in checkout</title>
        <input-field type="bool">
            <name>cartCrossSellingActive</name>
            <label>Display cross-selling in cart</label>
            <defaultValue>1</defaultValue>
        </input-field>
        <component name="sw-snippet-field">
            <name>cartCrossSellingTitle</name>
            <label>Title for cross-selling slider in cart</label>
            <snippet>checkout.basketCrossSellingTitle</snippet>
        </component>
        <input-field type="bool">
            <name>buyAgainCrossSellingActive</name>
            <label>Display buy-again in cart</label>
            <defaultValue>1</defaultValue>
        </input-field>
        <component name="sw-snippet-field">
            <name>buyAgainCrossSellingTitle</name>
            <label>Title for buy-again slider in cart</label>
            <snippet>checkout.buyAgainCrossSellingTitle</snippet>
        </component>
        <input-field type="bool">
            <name>alsoBoughtCrossSellingActive</name>
            <label>Display also-bought in cart</label>
            <defaultValue>1</defaultValue>
        </input-field>
        <component name="sw-snippet-field">
            <name>alsoBoughtCrossSellingTitle</name>
            <label>Title for also-bought slider in cart</label>
            <snippet>checkout.alsoBoughtCrossSellingTitle</snippet>
        </component>
        <input-field type="bool">
            <name>offCanvasCrossSellingActive</name>
            <label>Display cross-selling in off canvas</label>
            <defaultValue>1</defaultValue>
        </input-field>
        <component name="sw-snippet-field">
            <name>offCanvasCrossSellingTitle</name>
            <label>Title for cross-selling slider in off-canvas</label>
            <snippet>checkout.offCanvasCrossSellingTitle</snippet>
        </component>
    </card>
    <card>
        <title>Sticky-buttons in off-canvas cart</title>
        <input-field type="bool">
            <name>offCanvasStickyButtonsActive</name>
            <label>Active</label>
            <defaultValue>1</defaultValue>
        </input-field>
    </card>
    <card>
        <title>Feature set and options in quick-view</title>
        <input-field type="bool">
            <name>featureSetQuickViewActive</name>
            <label>Feature set in quick-view</label>
            <defaultValue>1</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>optionsQuickViewActive</name>
            <label>Options in quick-view</label>
            <defaultValue>1</defaultValue>
        </input-field>
    </card>
    <card>
        <title>Checkout facts</title>
        <input-field type="bool">
            <name>cartCheckoutFactsActive</name>
            <label>Display checkout facts in checkout</label>
            <defaultValue>1</defaultValue>
        </input-field>
        <input-field type="text">
            <name>cartCheckoutFact1Icon</name>
            <label>Icon for checkout fact #1</label>
            <defaultValue>package-open</defaultValue>
        </input-field>
        <component name="sw-snippet-field">
            <name>cartCheckoutFact1Title</name>
            <label>Title for checkout fact #1</label>
            <snippet>checkout.cartCheckoutFact1Title</snippet>
        </component>
        <component name="sw-snippet-field">
            <name>cartCheckoutFact1Text</name>
            <label>Text for checkout fact #1</label>
            <snippet>checkout.cartCheckoutFact1Text</snippet>
        </component>

        <input-field type="text">
            <name>cartCheckoutFact2Icon</name>
            <label>Icon for checkout fact #2</label>
            <defaultValue>arrow-switch</defaultValue>
        </input-field>
        <component name="sw-snippet-field">
            <name>cartCheckoutFact2Title</name>
            <label>Title for checkout fact #2</label>
            <snippet>checkout.cartCheckoutFact2Title</snippet>
        </component>
        <component name="sw-snippet-field">
            <name>cartCheckoutFact2Text</name>
            <label>Text for checkout fact #2</label>
            <snippet>checkout.cartCheckoutFact2Text</snippet>
        </component>

        <input-field type="text">
            <name>cartCheckoutFact3Icon</name>
            <label>Icon for checkout fact #3</label>
            <defaultValue>thumb-up</defaultValue>
        </input-field>
        <component name="sw-snippet-field">
            <name>cartCheckoutFact3Title</name>
            <label>Title for checkout fact #3</label>
            <snippet>checkout.cartCheckoutFact3Title</snippet>
        </component>
        <component name="sw-snippet-field">
            <name>cartCheckoutFact3Text</name>
            <label>Text for checkout fact #3</label>
            <snippet>checkout.cartCheckoutFact3Text</snippet>
        </component>
    </card>
</config>
