{% sw_extends "@Storefront/storefront/page/checkout/cart/index.html.twig" %}

{% block base_main %}
    {{ parent() }}
    <div class="checkout-recommendations-container">
        <div class="container">
            {% if page.extensions.crossSelling.first %}
                <div class="checkout-cross-selling col-md-12 pt-4 px-0 mb-2">
                    <h4 class="my-4">
                        {{ "checkout.basketCrossSellingTitle"|trans }}
                    </h4>
                    {% sw_include "@Storefront/storefront/page/checkout/cross_selling.html.twig" %}
                </div>
            {% endif %}
            {% sw_include "@Storefront/storefront/page/checkout/payment_icons.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block page_checkout_aside_container %}
    {{ parent() }}
    {% if config('NfCartCrossSelling.config.cartCheckoutFactsActive') %}
        {% sw_include "@Storefront/storefront/page/checkout/checkout_facts.html.twig" %}
    {% endif %}
{% endblock %}
