{% sw_extends "@Storefront/storefront/page/checkout/cart/index.html.twig" %}

{% block base_main %}
    {{ parent() }}
    <div class="checkout-recommendations-container">
        <div class="container">
            {% if page.extensions.crossSelling.first %}
                {% sw_include "@Storefront/storefront/page/checkout/cart/cross_selling.html.twig" %}
            {% endif %}
            {% sw_include "@Storefront/storefront/page/checkout/payment_icons.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block page_checkout_aside_container %}
    {{ parent() }}
    {% if config('FroshCartCrossSelling.config.cartCheckoutFactsActive') %}
        {% sw_include "@Storefront/storefront/page/checkout/checkout_facts.html.twig" %}
    {% endif %}
{% endblock %}
